@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura Condensed Extra Bold.otf') format('opentype');
    font-weight: 500; /* Define the weight */
    font-style: normal; /* Define the style */
  }